h1 {
  color: crimson;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: wheat;
}
.about {
  color: blue;
}
.school {
  color: cadetblue;
}
.experience {
  color: violet;
}
.skills {
  color: darkgreen;
}
.contactinfo {
  color: cornflowerblue;
  text-align: center;
}
